@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header .logo {
   font-size: 24px;
   text-decoration: none;
   color: #fff;
 }
 
 .header .logo img {
   height: 40px;
   width: 30px;
   padding: 0;
   margin-right: 10px;
 }
 
 .navbar a {
   color: #fff;
   text-decoration: none;
   margin-right: 15px;
   font-size: 20px;
 }
 
 .navbar a:hover {
   text-decoration: underline;
 }
 
 /* Style the search form */
 .search {
   display: flex;
   align-items: center;
 }
 
 .search input[type="text"] {
   padding: 5px;
   border: none;
   border-radius: 5px;
   margin-right: 5px;
   width: 100%;
 }
 
 .search button {
   background-color: #007BFF;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
 }
#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

@media screen and (max-width: 768px) {
   .navbar {
     display: none;
   }
 
 
   .search {
     max-width: 200px;
     margin-right: 10px;
   }
 }
