
body {
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    
}

.left-container {
    flex: 1;
    padding: 20px;
}

.back-button {
    background-color: #000080;
    color: white;
    border: none;
    padding:8px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

label {
    color:Black;
    margin-top: 10px;
}

input[type="text"] {
    background-color:#D9D9D9;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}    


.description {
    text-align: center;
    margin-top: 10px;
}

input[type="file"] {
   
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button,
.cancel-button {
    background-color: #000080;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button:hover,
.cancel-button:hover {
    background-color: #000080;
}
